{% extends "base/base.html" %}
{% load static %}
  <!-- Page Header -->
  {% block 'body' %}
  <header class="masthead about-bg">
    <div class="overlay">
    </div>
    <div class="container">
      
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Experienced in creating responsive, user-friendly websites and applications
           with a focus on clean design and functionality. Strong background in front-end
           technologies like HTML, CSS, JavaScript, along with hands-on experience using
           frameworks such as Bootstrap and Tailwind CSS. Proficient in back-end development
           with a solid command of Python and Django, as well as the MERN stack
           (MongoDB, Express.js, React, Node.js). Skilled in version control using Git and
           enthusiastic about problem-solving and developing innovative solutions to enhance
           user experience.
         </p>
      </div>
    </div>
  </div>

  <hr>
  {% endblock %}
  