{% extends "base/base.html" %}

  <!-- Page Header -->
  {% block 'body' %}
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Experienced in creating responsive, user-friendly websites and applications with a focus on clean design and
functionality. Strong background in front-end technologies like HTML, CSS, and JavaScript, alongside solid
experience in back-end development. Proficient in Python programming and version control using Git.
Enthusiastic about problem-solving and finding innovative solutions to enhance user experience.
</p>
      </div>
    </div>
  </div>

  <hr>
  {% endblock %}
  