{% extends "base/base.html" %}
{% load static %}
{% block 'body' %}

  <!-- Page Header -->
  <header class="masthead home-bg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog</h1>
            <span class="subheading">A collection of random musings.</span>
          </div>
        </div>
      </div>
    </div>
    
  </header>
  <div class="clearfix">
    <a class="btn btn-outline-info create-btn"  href="{% url 'new_post' %}" style="margin:5% 40%; width: 20%;">Create New Blog</a>
  </div>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{% url 'post_list' id=post.id %}" style="text-decoration: none;">
            
            <img class="bd-placeholder-img card-img-top" src="{{post.image.url}}" role="img" style="width: 80%; height: 80%; text-align: center;">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
            
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.user}}</a>
            on {{post.updated_at}}
            
            {% if request.user == post.author.user %}
            <a href="{% url 'delete_post' id=post.id %}"> ✘</a>
            {% else %}
            {% endif %}


          </p>

        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
      </div>
    </div>
  </div>
  <hr>
{% endblock %}

